[managed]-generate-channel-summary-ai-base.json
{
  "updatedAt": "2026-01-13T05:00:04.641Z",
  "createdAt": "2025-12-19T14:34:03.647Z",
  "id": "mgGlasf6CjEmgyEQ",
  "name": "[Managed] Generate channel summary",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        416,
        -304
      ],
      "id": "667ea59a-d02c-4e16-8747-9d9831a227c8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1339075589977669695",
          "mode": "list",
          "cachedResultName": "AI BASE",
          "cachedResultUrl": "https://discord.com/channels/1339075589977669695"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.items.channelId[0] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "3f339e73-1206-4d57-9c7b-c6da027fdc9d",
      "name": "Get many messages",
      "webhookId": "12e72344-03e8-4943-9400-85f71e82260d",
      "credentials": {
        "discordBotApi": {
          "id": "pJcKoheH80Fa5sQF",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/yamanashi-aibase/yamanashi-aibase.github.io/git/refs/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        496
      ],
      "id": "0ed42dfd-2da2-49b1-ae0a-8841400017a5",
      "name": "Get SHA",
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/yamanashi-aibase/yamanashi-aibase.github.io/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/auto-summary-{{ $now.format('yyyy-MM-dd-HHmmss') }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Get SHA').item.json.object.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        496
      ],
      "id": "8ad81ac0-d844-4d3e-ae76-f7c33a240c49",
      "name": "Create branch",
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Codeノード - OpenAI結果を受け取ってHTML生成\nconst messages = $input.all();\nconst today = new Date();\nconst yearMonth = `${today.getFullYear()}年${today.getMonth() + 1}月`;\n\n// カテゴリごとにグループ化し、さらに投稿者でサブグループ化\nconst grouped = {};\nmessages.forEach(msg => {\n  const data = msg.json;\n  const category = data.category;\n  const username = data.user;\n  \n  if (!grouped[category]) {\n    grouped[category] = {};\n  }\n  if (!grouped[category][username]) {\n    grouped[category][username] = [];\n  }\n  \n  grouped[category][username].push(data);\n});\n\n// カテゴリ名のマッピング（OpenAIの英語カテゴリ → 日本語表示）\nconst categoryNames = {\n  tutorial: 'チュートリアル・学習リソース',\n  article: 'AI技術記事・解説',\n  documentation: '公式ドキュメント・技術仕様',\n  tool: 'ツール・ライブラリ',\n  video: '動画コンテンツ',\n  repository: 'リポジトリ・サンプルコード',\n  openai: 'OpenAI／ChatGPT関連',\n  rag: 'RAG（情報検索×AI）',\n  image_generation: '生成AI画像',\n  agent: 'AIエージェント／自動化',\n  workflow: 'ワークフロー自動化',\n  other: 'その他'\n};\n\n// HTML生成\nlet html = `<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>AI BASE - ${yearMonth}まとめ</title>\n  <link rel=\"stylesheet\" href=\"../style.css\">\n</head>\n<body>\n    <header>\n        <div class=\"logo-container\">\n            <img src=\"../img/yamanashi-aibase.png\" alt=\"AI BASE Logo\" class=\"logo\">\n        </div>\n        <h1>AI BASE</h1>\n        <p class=\"tagline\"><a href=\"../index.html\">← Back to Home</a></p>\n    </header>\n\n  <main>\n    <article class=\"summary\">\n      <h1>${yearMonth}まとめ - #${$('Format selected channel id').first().json.items.channelName[0]}</h1>\n`;\n\n// カテゴリごとにセクション生成\nlet categoryIndex = 1;\nObject.entries(grouped).forEach(([category, users]) => {\n  const categoryTitle = categoryNames[category] || category;\n  html += `\\n     <section class=\"category\">\\n     <h2>${categoryIndex}. ${categoryTitle}</h2>\\n`;\n  \n  // 投稿者ごとにサブセクション\n  Object.entries(users).forEach(([username, items]) => {\n    html += `\\n    <div class=\"contributor\">\\n    <h3>投稿者：${username}</h3>\\n    <ul>\\n`;\n    \n    items.forEach(item => {\n      // タイトル抽出（コンテンツの最初の部分またはURL）\n      const headline = item.headline;\n      const url = item.url;\n      \n      html += `      <li><strong>${headline}</strong><br>\\n`;\n      html += `        <a href=\"${url}\" target=\"_blank\">${url}</a>`;\n      \n      \n      html += `</li>\\n`;\n    });\n    \n    html += `    </ul>\\n`;\n    html += `    </div>\\n`;\n  });\n  html += `    </section>\\n`;\n  categoryIndex++;\n});\n\n// Second look セクション（任意）\nhtml += `\n    </article>\n  </main>\n\n  <footer>\n    <p>© ${today.getFullYear()} AI BASE. All rights reserved.</p>\n  </footer>\n</body>\n</html>`;\n\nconst filename = `${today.getFullYear()}${String(today.getMonth() + 1).padStart(2, '0')}${String(today.getDay() + 1).padStart(2, '0')}` + \n  `_${String(today.getHours() + 1).padStart(2, '0')}${String(today.getMinutes() + 1).padStart(2, '0')}.html`\n\nreturn [{\n  json: {\n    html,\n    filename,\n    categories: Object.keys(grouped),\n    totalMessages: messages.length,\n    generatedAt: today.toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        256
      ],
      "id": "c99433ed-3257-4357-9b16-975c0de46ff6",
      "name": "HTML Generation"
    },
    {
      "parameters": {
        "jsCode": "const originalData = $('Format Discord response').all();\nconst aiResults = $input.all(); // OpenAI結果\nconsole.log(aiResults)\n\nreturn originalData.map((item, index) => {\n  const aiResponse = JSON.parse(aiResults[index].json.output[0].content[0].text);\n  \n  return {\n    json: {\n      ...item.json,\n      category: aiResponse.category,\n      headline: aiResponse.headline,\n      tags: aiResponse.tags\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        256
      ],
      "id": "3dfb8490-2246-41d5-8542-dcec4be2f6eb",
      "name": "Format AI response"
    },
    {
      "parameters": {
        "jsCode": "// Codeノードでの例\nconst messages = $input.all();\nconsole.log(messages)\n\nconst urlMessages = messages.filter(msg => {\n  return msg.json.content.match(/https?:\\/\\/[^\\s]+/);\n}).map(msg => ({\n  url: msg.json.content.match(/https?:\\/\\/[^\\s]+/)[0],\n  title: msg.json.embeds[0]?.title,\n  description: msg.json.embeds[0]?.description,\n  user: msg.json.author.global_name ? msg.json.author.global_name:msg.json.author.username,\n  content: msg.json.content\n}));\n\nreturn urlMessages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "433e6b85-4d2c-4d77-929e-ebb93e824b47",
      "name": "Format Discord response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "あなたは技術コンテンツの分類専門家です。\n以下のカテゴリのいずれかに分類してください：\n\n**主要カテゴリ:**\n- openai: OpenAI、ChatGPT、GPT関連\n- rag: RAG、検索拡張生成、ベクトルDB\n- image_generation: 画像生成AI（Stable Diffusion、DALL-E等）\n- agent: AIエージェント、自律AI、自動化システム\n- workflow: n8n、Zapier等のワークフロー自動化\n- tutorial: チュートリアル、ハウツー\n- article: 技術記事、解説ブログ\n- documentation: 公式ドキュメント\n- tool: ツール、ライブラリ\n- video: 動画コンテンツ\n- repository: GitHubリポジトリ\n- other: その他\n\n日本語で簡潔な説明を付けてJSON形式で返してください：\n{\n  \"category\": \"カテゴリ名\",\n  \"headline\": \"内容を一行で説明\",\n  \"tags\": [\"関連タグ1\", \"関連タグ2\"]\n}"
            },
            {
              "content": "=以下のメッセージを分類してください：\n\n投稿者: {{ $json.user }}\n内容: {{ $json.content }}\nURL:  {{ $json.url }}\nタイトル : {{ $json.title }}\n説明 : {{ $json.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "36815095-8cc5-4126-98c7-e4e060451f59",
      "name": "Categorize",
      "credentials": {
        "openAiApi": {
          "id": "OCUPByWGmta7FuDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const createBranchResponse = $('Create branch').first().json;\n\nreturn {\n  json: {\n    branchName: createBranchResponse.ref.replace('refs/heads/', ''),\n    fullRef: createBranchResponse.ref,\n    sha: createBranchResponse.object.sha,\n    htmlContent: $('HTML Generation').first().json.html,\n    filename: $('HTML Generation').first().json.filename\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        496
      ],
      "id": "e73d7a86-7263-48c3-8ff2-7dd0d5788d77",
      "name": "Extract Branch Info"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst base64Content = Buffer.from(data.htmlContent).toString('base64');\n\nreturn {\n  json: {\n    ...data,\n    base64Content: base64Content,\n    commitMessage: `Add ${data.filename}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        496
      ],
      "id": "13fdad3b-3cd7-40b6-8de1-2fa12ed39ba8",
      "name": "Prepare File Content"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "yamanashi-aibase",
          "mode": "list",
          "cachedResultName": "yamanashi-aibase",
          "cachedResultUrl": "https://github.com/yamanashi-aibase"
        },
        "repository": {
          "__rl": true,
          "value": "yamanashi-aibase.github.io",
          "mode": "list",
          "cachedResultName": "yamanashi-aibase.github.io",
          "cachedResultUrl": "https://github.com/yamanashi-aibase/yamanashi-aibase.github.io"
        },
        "filePath": "index.html",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        400,
        784
      ],
      "id": "9306a877-3a8b-4df7-a0e6-8ba3fd913185",
      "name": "Get index.html",
      "webhookId": "4e4d1b17-e2ef-4da7-a764-7de5c72353c8",
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingFile = $('Get index.html').first().json;\nconst newSummary = $('HTML Generation').first().json;\n\n// Base64デコード\nconst currentContent = Buffer.from(existingFile.content, 'base64').toString('utf-8');\n\n// 新しいリンクを追加\nconst newLink = `\n                <div class=\"summary-card\">\n                  <h3>${$today.year}年${$today.month}月</h3>\n                  <a href=\"summaries/${newSummary.filename}\" class=\"btn\">View Summary →</a>\n                </div>\n`;\n\n// <ul id=\"summary-list\"> の後に挿入\nconst updatedContent = currentContent.replace(\n  /(<div class=\"summary-list\">)/,\n  `$1\\n${newLink}`\n);\nconst base64Content = Buffer.from(updatedContent).toString('base64');\nreturn {\n  json: {\n    updatedIndexContent: updatedContent,\n    updatedContentBase64: base64Content,\n    indexSha: existingFile.sha\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        784
      ],
      "id": "7d589de9-b53f-4be9-9d5c-c77b88ccc9d5",
      "name": "Update index.html"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/yamanashi-aibase/yamanashi-aibase.github.io/contents/index.html",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Update index"
            },
            {
              "name": "content",
              "value": "={{ $json.updatedContentBase64 }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Extract Branch Info').item.json.branchName }}"
            },
            {
              "name": "sha",
              "value": "={{ $('Get index.html').item.json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        784
      ],
      "id": "ae6afa94-e806-4894-a011-1e0f32987885",
      "name": "Commit index.html",
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/yamanashi-aibase/yamanashi-aibase.github.io/contents/summaries/{{ $json.filename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.commitMessage }}"
            },
            {
              "name": "content",
              "value": "={{ $json.base64Content }}"
            },
            {
              "name": "branch",
              "value": "={{ $json.branchName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        496
      ],
      "id": "3db6e1b6-ca41-4437-86ea-dbf820bcbce1",
      "name": "Commit new monthly summary",
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/yamanashi-aibase/yamanashi-aibase.github.io/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Add Discord summary {{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "head",
              "value": "={{ $('Extract Branch Info').item.json.branchName }}"
            },
            {
              "name": "base",
              "value": "main"
            },
            {
              "name": "body",
              "value": "Auto generated PR from n8n workflow"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        784
      ],
      "id": "27325efb-9e61-4e52-af31-2f7913e49cab",
      "name": "Create a PR",
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Select channel",
        "formDescription": "Select channel name to generate summary",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Channel name",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "朝活_202602::1457190769302704292"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        -304
      ],
      "id": "667179ee-eaa3-4768-bbab-26754c888190",
      "name": "Wait",
      "webhookId": "bdb25df1-7a13-4e55-850a-6aaf9120ae4c"
    },
    {
      "parameters": {
        "jsCode": "return {\n  items: {\n    \"channelName\":[$input.first().json['Channel name'].split(\"::\")[0]],\n    \"channelId\":[$input.first().json['Channel name'].split(\"::\")[1]]\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -304
      ],
      "id": "65f62f1e-e759-43eb-be36-5fde14e87887",
      "name": "Format selected channel id"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Format Discord response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SHA": {
      "main": [
        [
          {
            "node": "Create branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create branch": {
      "main": [
        [
          {
            "node": "Extract Branch Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Generation": {
      "main": [
        [
          {
            "node": "Get SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI response": {
      "main": [
        [
          {
            "node": "HTML Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Discord response": {
      "main": [
        [
          {
            "node": "Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize": {
      "main": [
        [
          {
            "node": "Format AI response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Branch Info": {
      "main": [
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Commit new monthly summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get index.html": {
      "main": [
        [
          {
            "node": "Update index.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update index.html": {
      "main": [
        [
          {
            "node": "Commit index.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit new monthly summary": {
      "main": [
        [
          {
            "node": "Get index.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit index.html": {
      "main": [
        [
          {
            "node": "Create a PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Format selected channel id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format selected channel id": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ad4b7b9d-77c6-42b1-b0b7-6d0901338a7c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-19T14:34:03.674Z",
      "createdAt": "2025-12-19T14:34:03.674Z",
      "role": "workflow:owner",
      "workflowId": "mgGlasf6CjEmgyEQ",
      "projectId": "hJ0KrraqwPtCFK0F"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-12-20T00:06:13.106Z",
      "createdAt": "2025-12-20T00:06:13.106Z",
      "id": "MUspEjhgllRXe8UT",
      "name": "ai-base"
    }
  ]
}