github-backup-.json
{
  "updatedAt": "2025-12-27T08:21:11.504Z",
  "createdAt": "2025-12-20T02:02:40.691Z",
  "id": "Pfo3otV3HK1gl5md",
  "name": "Github Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "7c0318c9-a481-4ebf-bba2-34a79bbdabfc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        48,
        48
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "6b2d227f-4a16-45fc-a9ee-b74b50e493ca",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        528,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "udcRGPpMJMsYJlDA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "2c0dc96d-de57-49b2-adf4-8821792e58db",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        368,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "=yamanashi-aibase"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow",
          "mode": "name"
        },
        "filePath": "="
      },
      "id": "cd90f3df-c565-4dc6-99d5-60c45b18c73c",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        208,
        48
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "yamanashi-aibase",
          "mode": "list",
          "cachedResultName": "yamanashi-aibase",
          "cachedResultUrl": "https://github.com/yamanashi-aibase"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow",
          "mode": "list",
          "cachedResultName": "n8n-workflow",
          "cachedResultUrl": "https://github.com/yamanashi-aibase/n8n-workflow"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "5386be05-653a-4f3d-bbdd-7f2ee298e151",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1328,
        -32
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "yamanashi-aibase",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow",
          "mode": "list",
          "cachedResultName": "n8n-workflow",
          "cachedResultUrl": "https://github.com/yamanashi-aibase/n8n-workflow"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "29965036-5006-4a97-9f03-e03704d06de4",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1328,
        128
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "IZNyfyYxCqQX5iU9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "1556ca25-dae7-4e6d-a149-abbc2ea1e8b0",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1168,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "2ab6cf14-720d-4136-89c6-5940d7cd0cd3",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        688,
        48
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "6295a5c3-06e2-4e8a-b7a4-a525da281b52",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        848,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "b8056de3-51f3-4c22-90ff-baf5eb684b1b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "2aac5c7f-71de-4a27-ba83-4f0d06fd2f97",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1008,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "e7e42354-0231-4cce-8f2b-4fc5c25af8d1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "b62d5438-1d49-45cb-8bc8-339c43320b0e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -96
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "92db1f71-f579-4bc9-b5c2-2972ff501622",
  "activeVersionId": "92db1f71-f579-4bc9-b5c2-2972ff501622",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-20T02:02:40.707Z",
      "createdAt": "2025-12-20T02:02:40.707Z",
      "role": "workflow:owner",
      "workflowId": "Pfo3otV3HK1gl5md",
      "projectId": "hJ0KrraqwPtCFK0F"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-27T08:21:09.609Z",
    "createdAt": "2025-12-27T08:21:09.609Z",
    "versionId": "92db1f71-f579-4bc9-b5c2-2972ff501622",
    "workflowId": "Pfo3otV3HK1gl5md",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "7c0318c9-a481-4ebf-bba2-34a79bbdabfc",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          48,
          48
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "6b2d227f-4a16-45fc-a9ee-b74b50e493ca",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          528,
          48
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "udcRGPpMJMsYJlDA",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "2c0dc96d-de57-49b2-adf4-8821792e58db",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          368,
          48
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "=yamanashi-aibase"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflow",
            "mode": "name"
          },
          "filePath": "="
        },
        "id": "cd90f3df-c565-4dc6-99d5-60c45b18c73c",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          208,
          48
        ],
        "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "IZNyfyYxCqQX5iU9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "yamanashi-aibase",
            "mode": "list",
            "cachedResultName": "yamanashi-aibase",
            "cachedResultUrl": "https://github.com/yamanashi-aibase"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflow",
            "mode": "list",
            "cachedResultName": "n8n-workflow",
            "cachedResultUrl": "https://github.com/yamanashi-aibase/n8n-workflow"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "5386be05-653a-4f3d-bbdd-7f2ee298e151",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1328,
          -32
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "IZNyfyYxCqQX5iU9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "yamanashi-aibase",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflow",
            "mode": "list",
            "cachedResultName": "n8n-workflow",
            "cachedResultUrl": "https://github.com/yamanashi-aibase/n8n-workflow"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "29965036-5006-4a97-9f03-e03704d06de4",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1328,
          128
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "IZNyfyYxCqQX5iU9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          }
        },
        "id": "1556ca25-dae7-4e6d-a149-abbc2ea1e8b0",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          1168,
          48
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "2ab6cf14-720d-4136-89c6-5940d7cd0cd3",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          688,
          48
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "6295a5c3-06e2-4e8a-b7a4-a525da281b52",
        "name": "To base64",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          848,
          48
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 300,
          "color": 5
        },
        "id": "b8056de3-51f3-4c22-90ff-baf5eb684b1b",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          176,
          -96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "2aac5c7f-71de-4a27-ba83-4f0d06fd2f97",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          1008,
          48
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 460,
          "color": 3
        },
        "id": "e7e42354-0231-4cce-8f2b-4fc5c25af8d1",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          496,
          -96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "b62d5438-1d49-45cb-8bc8-339c43320b0e",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          976,
          -96
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base64": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tatsuro Handa",
    "name": null,
    "description": null
  },
  "tags": []
}